body {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#app {
	display: flex;
	flex-direction: row;
}

#console {
	width: calc(100vw - var(--handex));
	height: calc(100vh - var(--codeh));
	top: var(--codeh);
	left: var(--handex);
	position: absolute;
	overflow: hidden;
	font-size: 13px;
}
